
abstract=The upcoming General Data Protection Regulation (GDPR) requires justification of data activities to acquire, use, share, and store data using consent obtained from the user. Failure to comply may result in significant heavy fines which incentivises creation and maintenance of records for all activities involving consent and data. Compliance documentation therefore requires provenance information outlining consent and data lifecycles to demonstrate correct usage of data in accordance with the related consent provided and updated by the user. GDPRov (pronounced GDPR-Prov) is a linked data ontology for expressing provenance of consent and data lifecycles with a view towards documenting compliance. GDPRov is an OWL2 ontology that extends PROV-O and P-Plan to model the provenance.
ontologyTitle=The GDPR Provenance ontology
ontologyPrefix=gdprov
ontologyNamespaceURI=http://purl.org/adaptcentre/openscience/ontologies/gdprov#
ontologyName=The GDPR Provenance ontology
thisVersionURI=http://purl.org/adaptcentre/openscience/ontologies/gdprov.0.1.owl
latestVersionURI=http://purl.org/adaptcentre/openscience/ontologies/gdprov
previousVersionURI=
dateOfRelease=2017-08-01
ontologyRevisionNumber=0.1
licenseURI=http://purl.org/NET/rdflicense/cc-by4.0
licenseName=Creative Commons CC-BY
licenseIconURL=null
citeAs=
DOI=
status=Ontology Specification Draft
backwardsCompatibleWith=
publisher=
publisherURI=
publisherInstitution=
publisherInstitutionURI=
authors=Harshvardhan J. Pandit; Dave Lewis
authorsURI=http://purl.org/adaptcentre/people/harshvardhan_pandit;http://purl.org/adaptcentre/people/dave_lewis
authorsInstitution=ADAPT Centre, Trinity College Dublin;ADAPT Centre, Trinity College Dublin
authorsInstitutionURI=https://adaptcentre.ie;https://adaptcentre.ie
contributors=
contributorsURI=
contributorsInstitution=
contributorsInstitutionURI=
importedOntologyNames=
importedOntologyURIs=
extendedOntologyNames=
extendedOntologyURIs=
RDFXMLSerialization=ontology.xml
TurtleSerialization=ontology.ttl
N3Serialization=ontology.nt
